
<div id="header-page">
    <h2>  Vaccine History Report  <img ng-show="loading" height="22" src="resources/images/loader-circle.GIF">
 <span style="float:right">
    Facility : <i><label>{{selectedOrgUnit.name}}</label></i>, User : <i><label>{{currentUser.displayName}}</label></i>
</span>
    </h2>
</div>
<div id="report-page">

    <table class="bidTable dhis2-table-hover table-bordered dhis2-table-striped " ng-show="!loading">
        <tr><th class="sNo"></th><th ng-repeat="header in reportTemplate.header"  ng-class="{'tableAttribute attrWidth' :header.type == 'attribute','tableDataElement deWidth' :header.type == 'dataElement'}">{{header.name}}</th></tr>
        <tr ng-repeat="event in reportEvents" ng-class="{'overDueRow' : event.event.isOverDue}">
            <td class="sNo">{{$index+1}}</td>
            <td ng-repeat="header in reportTemplate.header" title="{{header.name}}" ng-class="{'attrWidth' :header.type == 'attribute','deWidth' :header.type == 'dataElement'}">
                <span ng-switch on="event.reportTEAPlusDeValueMap[header.id].value">
                    <span ng-switch-when="hidden"></span>
                    <span ng-switch-when="visible"></span>
                    <span ng-switch-when="true" ><i class="fa fa-check "></i></span>
                    <span ng-switch-when="false"></span>
                    <span ng-switch-default>{{event.reportTEAPlusDeValueMap[header.id].value }}</span>
                </span>
            </td>
        </tr>
    </table>
</div>