#main-page
{
    margin: 65px 10px 10px 30px;
}
#header-page{
    margin: 65px 5px 15px 35px;
}
#report-page
{
    margin: 5px 10px 20px 40px;
}

.bidTable{

    word-wrap: break-word;
}

.bidTable th,td{
    table-layout: fixed;
    padding: 10px;
    text-align: left;
    width: 7%;
}
.sNo{
    width:4%!important;
}
.totals{
    vertical-align : bottom;
}
.tableAttribute{
    background-color: lightblue!important;

}
.tableDataElement{
    background-color: burlywood!important;
}

.attrWidth{
    width: 7%!important;
}
.deWidth{
    width: 5%!important;
}
.totalRow{
    background-color: lavender!important;

}
.mergeWithBackground{
    background-color : transparent!important;
    border-left: transparent!important;
    border-top: transparent!important;
}
.overDueRow{
    color: indianred!important;

}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.excess{
    background-color: lightgreen;
}
.shortage{
    background-color: indianred;

}